/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/05/2016, 09:38:08 PM
    Author     : SERGIO
*/

.caja{box-shadow: 1px 1px 1px 1px #cccccc}
.flecha{background-image: url('../imagenes/flecha.jpg');background-size: 100%;
       background-repeat: no-repeat;width: 20px; height: 20px; border-radius: 10px;}